/*Styiing sheet used for db on admin page-->
#bee {
	/*darkest color of the pooh pallete
    color: #740724;
  
}
*/

.beehive
{
   margin-left: 15px;
   margin-right: 15px;
}

#head
{
	/*rusty orange color in pooh pallete*/
    background-color: #D97112;
}

body
{
   background-color: #FDE899 
}


#download
{
    background-color: #740724;
    margin-left: 15px;
    margin-top: 10px;
    border: none;
}
th{
	font-size: 16px;
	font-style: bold;
	padding-top: 5%;

}